.text {
    font-size: 4rem;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 300px;
  }